<p id="notice"><%= notice %></p>

<p>
  <strong>Operation:</strong>
  <%= @colaborator.operation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @colaborator.name %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @colaborator.company_number %>
</p>

<p>
  <strong>Personal number:</strong>
  <%= @colaborator.personal_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @colaborator.email %>
</p>

<p>
  <strong>Area:</strong>
  <%= @colaborator.area %>
</p>

<%= link_to 'Edit', edit_colaborator_path(@colaborator) %> |
<%= link_to 'Back', colaborators_path %>
