<p id="notice"><%= notice %></p>

<h1>Regionals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Operation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regionals.each do |regional| %>
      <tr>
        <td><%= regional.name %></td>
        <td><%= regional.operation %></td>
        <td><%= link_to 'Show', regional %></td>
        <td><%= link_to 'Edit', edit_regional_path(regional) %></td>
        <td><%= link_to 'Destroy', regional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regional', new_regional_path %>
