<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @regional.name %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @regional.operation %>
</p>

<%= link_to 'Edit', edit_regional_path(@regional) %> |
<%= link_to 'Back', regionals_path %>
