<p id="notice"><%= notice %></p>

<h1>Operations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Addres</th>
      <th>Coordinator name</th>
      <th>Manager name</th>
      <th>Manager contact</th>
      <th>Coordinator contact</th>
      <th>Manager email</th>
      <th>Coordinator email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.name %></td>
        <td><%= operation.addres %></td>
        <td><%= operation.coordinator_name %></td>
        <td><%= operation.manager_name %></td>
        <td><%= operation.manager_contact %></td>
        <td><%= operation.coordinator_contact %></td>
        <td><%= operation.manager_email %></td>
        <td><%= operation.coordinator_email %></td>
        <td><%= link_to 'Show', operation %></td>
        <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
        <td><%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_operation_path %>
